.error{
    border: 1px solid red !important;
}
h2{
    font-size: 14px !important;
}
.cont{
    max-width: 100px;
    width: 50px !important;
}
#about{
    height: 350vh;
}
.paregraph{
    padding: 15px 300px;
}